.campo-texto {
    margin: 24px 0;       /* espaço vertical */
    padding: 0 10px;      /* recuo horizontal (igual ao .lista-suspensa) */
}
 
.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
 
.campo-texto input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;          /* ocupa toda a largura disponível */
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}