.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 24px;
}

.lista-suspensa {
    padding: 0 10px; /* recuo de 10px em cada lado */
    margin: 24px 0;
}

.lista-suspensa select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;  /* agora funciona sem cortar */
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

